.logo-img {
  width: 100%;
  height: 50vh;
  margin: auto;
}

.center-text {
  text-align: center;
  margin: auto;
}

.description-div {
  text-align: left;
  margin-top: 2%;
}

.config-params{
    margin-top: 1%;
}

.custom-margin{
    width: 100%;
}
